body{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
}
#start {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    background-color: black;
    width: 2%;
    height: 300px;
    margin: 0 20px 0 20px;
    border-radius: 2rem;

}

#offset {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    background-color: black;
    width: 2%;
    height: 300px;
    margin: 0 20px 0 20px;
    border-radius: 2rem;

}

#end {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    background-color: black;
    width: 2%;
    height: 300px;
    margin: 0 20px 0 20px;
    border-radius: 2rem;

}

#disco1 {
    border-radius: 2rem;
    width: 10rem;
    height: 2rem;
    background-color:rgb(255, 0, 0);
}

#disco2 {
    border-radius: 2rem;
    width: 7.5rem;
    height: 2rem;
    background-color: #0400ff;
}

#disco3 {
    border-radius: 2rem;
    width: 5rem;
    height: 2rem;
    background-color: #2bff00;
}

#disco4{
    border-radius: 2rem;
    width: 3rem;
    height: 2rem;
    background-color: #ff00dd;
}

#counterStart {
    background-color: #000000;
    display: flex;
    height: 2rem;
    width: 10rem;
    justify-items: flex-end;
    margin-top: 0.8rem;
}

.hidden{
    visibility: hidden;
}
